i.icon.arrow.left:before {
  color: white;
}

i.icon.arrow.left:hover {
  color: grey;
}

.pokemon-page-wrapper {
  padding-top: 100px;
  min-height: 400px;
  background-image: url('../../images/pokeball.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 120% 40%;
}

.ui.top.fixed.pokemon-page-nav {
  background-color: transparent;
  border: none;
  height: 80px;
  box-shadow: none;
}

.pokemon-page-image-wrapper {
  position: relative;
}

.pokemon-page-image-wrapper img {
  position: absolute !important;
  top: 10px;
}

.pokemon-page-title h1 {
  color: white;
  font-size: 42px;
  font-weight: bold;
}

.pokemon-page-title h1::first-letter {
  text-transform: uppercase;
}

.pokemon-page-info {
  min-height: 400px;
  background-color: white;
  border-radius: 30px 30px 0px 0px;
  padding-top: 60px;
  padding-bottom: 30px;
}

.ui.borderless.pointing.secondary.menu {
  text-align: center;
  justify-content: center;
  flex-grow: 1;
}

.ui.label.pokemon-page-type-label {
  border-radius: 10px;
  color: white;
  filter: brightness(90%);
  padding-right: 10px;
  padding-left: 10px;
}

.ui.label.pokemon-page-type-label::first-letter {
  text-transform: uppercase;
}

p.pokemon-page-stat-label {
  margin-bottom: 5px;
  font-size: 20px;
}

p.pokemon-page-stat-label::first-letter {
  text-transform: uppercase;
}
